.block {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 14px;
    margin: 0 auto;
    margin-bottom: 4px;
    width: 30%;
    font-size: 20px;
}

li{
    list-style-type: none;
}

strong{
    text-align: center;
}
.width100{
    width: 100%;
}