.img-content {
  width: 200px;
  height: 200px;
  align: left;
}

.center-h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

.block {
  display: flex;
  border: 2px solid;
  border-radius: 14px;
  margin: 10px;
  width: 100%;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
}

img.face {
  float: center;
  padding: 5px;
  margin: 0px 10px 10px 0;
  width: 200px;
  height: 150px;
}
li {
  list-style-type: none;
}
ul {
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin-left: 15px;
}

a {
  text-align: center;
}
body {
  height: 100%;
}
div {
  height: 100%;
}
