.texto {
    text-align: left;
    width: 23%;
    padding: 0;
}

img {
    width: 10%;
    padding: 12px;
}    
    
.flexbox-item {
    display: flex;
    flex-wrap:wrap;
    position: relative;
    padding-top: 30px;
    justify-content: stretch
}